@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "WebBase.cshtml";
    string mainImageUrl = "";
    if (Model.Content.HasValue("mainImage"))
    {
        mainImageUrl = Model.Content.GetPropertyValue<IPublishedContent>("mainImage").Url + "?width=1024&height=478&mode=crop&anchor=center";
    }

}

<!-- Main -->
<section id="main" class="wrapper style1">
    <div class="inner">
        <header class="major">
            @Umbraco.Field("pageTitle", altFieldAlias: "pageName", insertBefore: "<h1>", insertAfter: "</h1>")
            @Umbraco.Field("subtitle", insertBefore: "<p>", insertAfter: "</p>")
        </header>
        <span class="image main"><img src="@mainImageUrl" alt="" /></span>
        @Umbraco.Field("mainContent")

        @{ Html.RenderPartial("Content/_ImageList"); }
    </div>
</section>


