@inherits UmbracoViewPage
<!-- Three -->
<section class="wrapper style3 special">
    <div class="inner">
        <header>
            <h2>Amet ullamcorper</h2>
            <p>
                Aptent taciti sociosqu litora torquent et conubia sed etiam.<br />
                Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam<br />
                turpis mauris, ultricies erat malesuada quis.
            </p>
        </header>
        <footer>
            <ul class="actions special">
                <li><a href="#" class="button big">Get Started</a></li>
            </ul>
        </footer>
    </div>
</section>