@inherits UmbracoViewPage

<!-- Intro -->
<section id="intro" class="wrapper featured style1">
    <div class="inner">
        <span class="image"><img src="images/pic01.jpg" alt="" /></span>
        <div class="content">
            <header>
                <h1>Reflex</h1>
                <p>
                    Lorem ipsum dolor sit magna consectetur<br />
                    adipiscing elit. Duis dapibus rutrum facilisis.<br />
                    Class aptent taciti sociosqu torquent.
                </p>
            </header>
            <footer>
                <ul class="actions">
                    <li><a href="#" class="button big">Get Started</a></li>
                </ul>
            </footer>
        </div>
    </div>
</section>
