<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT content ANY>
<!ATTLIST content id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1056" key="3bf839f5-28db-44a2-9406-09cb6f202d01" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-02-23T23:39:00" updateDate="2019-02-23T23:40:43" nodeName="Home" urlName="home" path="-1,1056" isDoc="" nodeType="1054" creatorName="setup" writerName="setup" writerID="0" template="1052" nodeTypeAlias="home">
    <content id="1057" key="dc24850e-0792-4f88-85d0-425626e37671" parentID="1056" level="2" creatorID="0" sortOrder="0" createDate="2019-02-23T23:53:38" updateDate="2019-02-23T23:53:38" nodeName="Generic" urlName="generic" path="-1,1056,1057" isDoc="" nodeType="1055" creatorName="setup" writerName="setup" writerID="0" template="1053" nodeTypeAlias="content" />
  </home>
</root>